@font-face {
    font-family: 'PixelFont';
    src: url('../assets/fonts/pixelFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #fffefe;
    font-family: 'PixelFont', sans-serif;
}